<IfModule mod_charset.c>
	CharsetDisable On
	AddDefaultCharset utf-8
	CharsetRecodeMultipartForms off
</IfModule>

<IfModule mod_mime.c>
	AddType text/css .css
</IfModule>

<IfModule mod_expires.c>
	ExpiresByType text/css
</IfModule>
