*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #404040;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.main{
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 1.3fr;
    grid-column-gap: 100px;
    height: 100vh;

    @media screen and (max-width:768px){
        grid-column-gap: 10px;
    }

    &__link-div{
        display: inline-block;
        span{
            @media screen and (max-width:992px){
                font-size: calc(10px + 6  * ((100vw - 320px) / (1280 - 320)));
                line-height: calc(12px + 10 * ((100vw - 320px) / (1280 - 320)));
            }
        }
    }

    &__title{
        font-family: Roboto Slab;
        font-weight: 300;
        font-size: 50px;
        line-height: 71px;
        letter-spacing: 0.03em;
        // margin-bottom: 10px;

        @media screen and (max-width:992px) {
            font-size: calc(20px + 30 * ((100vw - 320px) / (1280 - 320)));
            font-weight: 700;
            margin: 0;
        }
    }

    &__form{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        margin-right: 30px;
    }

    &__link{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #1F98E9;
        @media screen and (max-width:992px) {
            font-size: calc(11px + 5 * ((100vw - 320px) / (1280 - 320)));
            line-height: calc(11px + 5 * ((100vw - 320px) / (1280 - 320)));
            margin: 0;
        }
    }

    &__link:hover{
        text-decoration-line: underline;
        
    }

    &__new-account{
        margin: 3px 0 0 30px;
        @media screen and (max-width:992px) {
            margin: 3px 0 0 10px;
        }
    }

    &__new-pass{
        display: block;
        margin: 3px 0;
    }

    &__block:nth-child(1){
        .main__back{
            margin: 60px 50px 0 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @media screen and (max-width:1024px){
                margin: 60px 7px 0 0;
            }

            a{
                display: inline-block;
                color: #FFFFFF;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.03em;
                margin-left: 13px;

                @media screen and (max-width:1024px){
                    font-size: calc(10px + 4 * ((100vw - 320px) / (1280 - 320)));
                }
            }
        }

        .text{
            margin: 30% auto 0 auto;
            max-width: 410px;

            &__title{
                box-sizing: border-box;
                font-weight: bold;
                font-size: 44px;
                line-height: 60px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                max-width: 422px;
                margin: 0 10px 40px 10px;

                @media screen and (max-width:1078px){
                    font-size: calc(22px + 22 * ((100vw - 320px) / (1280 - 320)));
                    line-height: calc(32px + 28 * ((100vw - 320px) / (1280 - 320)));
                }

            }

            hr{
                color: white;
                margin-bottom: 40px;
                margin: 0 10px 40px 10px;
            }

            &__subtitle{
                font-weight: 500;
                font-size: 22px;
                line-height: 36px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                max-width: 280px;
                margin: 0 10px 40px 10px;

                @media screen and (max-width:1078px){
                    font-size: calc(18px + 4 * ((100vw - 320px) / (1280 - 320)));
                    line-height: calc(24px + 12 * ((100vw - 320px) / (1280 - 320)));
                }
            }
        }
    }

    &__block:nth-child(1){
        background: url(img/bg.png) no-repeat;
        background-size: cover;
        background-position: top left;
        background-color: rgba($color: #060630, $alpha: 0.9);
        background-blend-mode: lighten;
    }
}

.form{
    // display: none;
    &__errormessage p{
        display: block;
        color: #E84545;
        margin: 10px 0;
    }

    &__password{
        position: relative;
        max-width: 480px;
        width: 100%;
        .password-control{
            background-size: contain;
            width: 20px;
            height: 14px;
            position: absolute;
            top: 13px;
            right: 10px;
            user-select: none;
        }

        .hide{
            background: url(img/show.jpg) no-repeat;
        }

        .show{
            background: url(img/hide.jpg) no-repeat;
        }
    }

    &__message{
        .message-input{
            width: 110px;
            padding: 0px 15px;
        }

        .form__link-message{
            color:#1F98E9;
            margin-left: 20px;

            @media screen and (max-width:500px) {
                margin-left: 0px;
                margin-top: 10px;
                display: block;
                font-size: calc(12px + 6 * ((100vw - 320px) / (1280 - 320)));
            }
        }
        
    }

    &__element{
        margin-bottom: 20px;

        @media screen and (max-width:470px) {
            margin-bottom: 3%;
        }
        span{
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.04em;
            display: block;
            @media screen and (max-width:992px) {
                font-size: calc(13px + 3 * ((100vw - 320px) / (1280 - 320)));
            }
        }
        input{
            max-width: 480px;
            width: 100%;
            height: 39px;
            border: 1px solid #CDCDCD;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 0px 10px;

        }
    }

    hr{
        color:#DBDBDB;
        max-width: 480px;
    }

    &__text{
        max-width: 514px;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #404040;

        @media screen and (max-width:992px){
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: calc(9px + 5 * ((100vw - 320px) / (1280 - 320)));
            line-height: calc(12px + 10 * ((100vw - 320px) / (1280 - 320)));
        }

        a{
            color: #1F98E9;
        }
    }

    &__submit{
        width: 280px;
        height: 55px;
        background: #1F98E9;
        border-radius: 4px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 13px 0 25px 0;
        border: none;
        cursor: pointer;

        @media screen and (max-width:992px) {
            font-size: calc(11px + 3 * ((100vw - 320px) / (1280 - 320)));
        }

        @media screen and (max-width:768px) {
            width: 100%;
            height: 40px;
        }
    }
}

